<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
<xacro:macro name="wheelleg" params="num mount_xyz mount_rpy">

<!-- connect leg to chassis -->
<joint name="base_leg_${num}" type="fixed">
  <parent link="chassis"/>
  <child link="leg_${num}/J1_base/INPUT_INTERFACE"/>
<origin xyz="${mount_xyz}" rpy="${mount_rpy}"/>
</joint>

<xacro:actuator name="leg_${num}/J1_base" child="leg_${num}/link1" type="X8_9" limits="${[pi/6,5*pi/6]}"/>
<xacro:link  name="leg_${num}/link1"  child="leg_${num}/J2_shoulder" extension="0.275" twist="${pi/2}"/>
<xacro:actuator name="leg_${num}/J2_shoulder"  child="leg_${num}/link2" type="X8_16" limits="${[-pi/2-pi/4, -pi/4,]}"/>
<xacro:link  name="leg_${num}/link2"  child="leg_${num}/J3_wheel" extension="0.275" twist="${-pi/2}"/>

<xacro:actuator name="leg_${num}/J3_wheel" child="leg_${num}/wheel" type="X8_3"/>

<link name="leg_${num}/wheel/INPUT_INTERFACE">
  <inertial>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <mass value="0.498"/>
    <inertia ixx="0.001"  ixy="0"  ixz="0" iyy="0.001" iyz="0" izz="0.002" />
  </inertial>
  <visual>
    <geometry>
    <cylinder length="0.0254" radius="0.105"/>
    </geometry>
    <origin xyz="0 0 0.015" rpy="0 0 0"/>
    <xacro:black_material/>
  </visual>
  <collision>
   <geometry>
      <cylinder length="0.0254" radius="0.105"/>
   </geometry>
   <origin xyz="0 0 0.015" rpy="0 0 0"/>
  </collision>
</link>


</xacro:macro>
</robot>